.person-field{
    width: 100%;
    .one{
        width: 80%;
        .select,select{
            width: 100%;
        }
    }
    .two{
        width: 10%;
        button{
            width: 100%;
        }
    }
    .three{
        width: 10%;
        .select,select{
            width: 100%;
        }
    }
}
.person-w{
    width: 100%;
}
.person-prod{
    width: 70%;
}
.person-total{
    width: 90%;
    text-align: end;
}
.person-modal-footer{
    display: block;
}
.person-modal-card{
    width: 90%;
    height: 80%;
}
.person-modal-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .card{
        width: 15%;
        list-style: none;
        overflow: hidden;
        margin-bottom: 24px;
        img{
            object-fit: cover;
        }
        p{
            margin: 10px;
        }
    }
}
.person-abbottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.person-btn-theme{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    z-index: 100;
    margin: 8px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.person-head{
    position: relative;
}
.active{
    display: block;
}
.disable{
    display: none;
}
.person-box{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    .card{
        width: 15%;
        list-style: none;
        overflow: hidden;
        margin-bottom: 24px;
        img{
            object-fit: cover;
        }
        p{
            margin: 10px;
        }
    }
}
.person-imageInput{
    width: 100%;
    margin-top: 24px;
    position: absolute;
}
.person-card-prod{
    cursor: pointer;
}
.person-card-prod.hover{
    background: #4258ff;
    color: white;
    padding: 7px;
}
.person-card-prod.clicked{
    background: #45c58b;
    color: white;
    padding: 7px;
}
.person-card-prod .display{
    color: white;
    width: 24px;
    height: 24px;
    background: #4258ff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1023px){
    .person-btn-theme{
        display: none;
    }
}